### Second exercise: Print the top 10 arrival airports in the world in 2013 using the bookings file

The task is to print the top 10 arrival airports as well as the number of passengers for each arrival airport
Pandas was used to solve this problem

In [1]:
import os
import pandas as pd

In [2]:
# Select the fields that will be needed to solve this problem
fields = ['pax', 'arr_port']

In [41]:
arr_port = passengers_counts['pax'].argmax()

In [42]:
m = passengers_counts['pax'].max()

In [4]:
# Import the bookings file but only with the selected fields
df = pd.read_csv('/users/driss/Downloads/test_files/bookings.csv', sep = "^", usecols=fields, skipinitialspace=True)

In [5]:
df[:5]

  arr_port  pax
0      LHR -1.0
1      CLT  1.0
2      CLT  1.0
3      SVO  1.0
4      SVO  1.0

In [27]:
m = df[:5]['pax'].max()

In [28]:
m

1.0

In [7]:
a=df[:5]

In [8]:
# Group a sample file by airport and determine the total number of passangers by airport
passengers_counts = a.groupby('arr_port').aggregate(sum)

In [9]:
passengers_counts

          pax
arr_port
CLT       2.0
LHR      -1.0
SVO       2.0

In [10]:
# Group the bookings file by airport and determine the total number of passangers by airport
passengers_counts = df.groupby('arr_port').aggregate(sum)
del(df)

In [11]:
# Sort the pax column decreasingly in order to take the top ten airports
passengers_counts = passengers_counts.sort_values(by = 'pax', ascending = False)

In [12]:
passengers_counts[:10]

              pax
arr_port
LHR       83044.0
MCO       66416.0
LAX       65760.0
LAS       65001.0
JFK       61825.0
CDG       60224.0
BKK       55489.0
MIA       54318.0
SFO       54155.0
DXB       51847.0

In [13]:
# print the top ten airports with the total number of passengers for each airport
print (passengers_counts[:10])

              pax
arr_port
LHR       83044.0
MCO       66416.0
LAX       65760.0
LAS       65001.0
JFK       61825.0
CDG       60224.0
BKK       55489.0
MIA       54318.0
SFO       54155.0
DXB       51847.0