### Third exercise: Plot the monthly number of searches for flights arriving at Malaga, Madrid and Barcelona

The aim of this exercise is to plot the total monthly number of searches for flights arriving at Malaga, Madrid and Barcelona using the pandas library

In [5]:
import pandas as pd

In [6]:
# Select the fields needed to solve the problem
fields = ['Date', 'Destination']

In [4]:
# Import a sample
df = pd.read_csv('/users/driss/Downloads/sample/sample1.csv', sep = "^", usecols=fields, skipinitialspace=True)

In [5]:
df

         Date Destination
0  2013-01-01         AUH
1  2013-01-01         MIL
2  2013-01-01         SFO
3  2013-01-01         ARN
4  2013-01-01         MAD
5  2013-01-01         BLR
6  2013-01-01         PAR
7  2013-01-01         DUB
8  2013-01-01         ACE

In [12]:
# Define a function to add a column indicating the search month
def index(row):
    date = row['Date']
    l = date.split("-")
    index = l[1]
    return index

In [7]:
a = df['Date']

In [8]:
a[0]

'2013-01-01'

In [9]:
a

0    2013-01-01
1    2013-01-01
2    2013-01-01
3    2013-01-01
4    2013-01-01
5    2013-01-01
6    2013-01-01
7    2013-01-01
8    2013-01-01
Name: Date, dtype: object

In [10]:
l = a[0].split("-")

In [11]:
l

['2013', '01', '01']

In [12]:
l[1]

'01'

In [13]:
# Add the search month column to the sample
df['index'] = df.apply(lambda row : index(row), axis = 1)

In [14]:
df

         Date Destination index
0  2013-01-01         AUH    01
1  2013-01-01         MIL    01
2  2013-01-01         SFO    01
3  2013-01-01         ARN    01
4  2013-01-01         MAD    01
5  2013-01-01         BLR    01
6  2013-01-01         PAR    01
7  2013-01-01         DUB    01
8  2013-01-01         ACE    01

In [15]:
df2 = df.groupby('index')

In [31]:
df2

In [7]:
# Define a function to determine the total number of times a search destination was Madrid
def MAD(x):
    Madrid = x[x.Destination == 'MAD']
    return len(Madrid.index)

In [32]:
df2.apply(lambda x : MAD(x))

index
01    1
dtype: int64

In [23]:
df3 = df[df['Destination'] == 'MAD']

In [24]:
df3

         Date Destination index
4  2013-01-01         MAD    01

In [27]:
len(df.index)

9

In [26]:
df.Date

0    2013-01-01
1    2013-01-01
2    2013-01-01
3    2013-01-01
4    2013-01-01
5    2013-01-01
6    2013-01-01
7    2013-01-01
8    2013-01-01
Name: Date, dtype: object

In [30]:
df2

In [52]:
df2 = df.groupby('index').apply(MAD)

In [50]:
df2

         Date Destination index  MADRID
0  2013-01-01         AUH    01       1
1  2013-01-01         MIL    01       1
2  2013-01-01         SFO    01       1
3  2013-01-01         ARN    01       1
4  2013-01-01         MAD    01       1
5  2013-01-01         BLR    01       1
6  2013-01-01         PAR    01       1
7  2013-01-01         DUB    01       1
8  2013-01-01         ACE    01       1

In [84]:
# Work on a bigger sample
df = pd.read_csv('/users/driss/Downloads/test_files/searches/searches1.csv', sep = "^", usecols=fields, skipinitialspace=True)

In [54]:
# index the sample by adding the search month column
df['index'] = df.apply(lambda row : index(row), axis = 1)

In [57]:
# Group the sample according to the search month and compute the number of times the search destination was madrid by month
df2 = df.groupby('index').apply(MAD)

In [58]:
df2

index
01    2553
02    2400
03    2598
04    2658
05    2772
06    2400
07    2418
08    2298
09    1868
10    1975
11    1810
12    1295
dtype: int64

In [70]:
# look for missing values in the sample
searches.count()

Date           20390198
Destination    20390165
index           2039026
dtype: int64

In [73]:
# look for the number of observations in the sample
len(searches.index)

20390198

In [78]:
# Understand why there are missing values
# The missing values are due to the fact that some observations are separated with , instead of ^
test = searches[searches.isnull().any(axis=1)]

In [79]:
test[:10]

                                                      Date Destination
1436001  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN
1795011  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN
1795021  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN
3231031  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN
3590041  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN
3590051  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN
5026061  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN
5385071  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN
5385081  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN
6821091  2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...         NaN

In [76]:
searches[:10]

         Date Destination index
0  2013-01-01         AUH    01
1  2013-01-01         MIL    01
2  2013-01-01         SFO    01
3  2013-01-01         ARN    01
4  2013-01-01         MAD    01
5  2013-01-01         BLR    01
6  2013-01-01         PAR    01
7  2013-01-01         DUB    01
8  2013-01-01         ACE    01
9  2013-01-01         BGW    01

In [80]:
del(searches)

In [8]:
# Determine the fields to use to solve the problem
# Import the whole searches file after launching a perl command to replace all occurences of , with ^
fields = ['Date', 'Destination']
searches = pd.read_csv('/users/driss/Downloads/test_files/searches.csv', sep = "^", usecols=fields, skipinitialspace=True)

In [9]:
# Chech that this time there are no missing values
test = searches[searches.isnull().any(axis=1)]

In [10]:
test[:10]

Empty DataFrame
Columns: [Date, Destination]
Index: []

In [13]:
# Add the search month column to the searches file
searches['index'] = searches.apply(lambda row : index(row), axis = 1)

In [14]:
# Compute the number of times the search destination was Madrid by month
MADRID = searches.groupby('index').apply(MAD)

In [15]:
MADRID

index
01    24258
02    22800
03    24681
04    25251
05    26334
06    22800
07    22971
08    21831
09    21147
10    22294
11    20272
12    14504
dtype: int64

In [16]:
# Define a function to compute the number of times the search destination was Barcelona
def BCN(x):
    Barcelona = x[x.Destination == 'BCN']
    return len(Barcelona.index)

In [17]:
# Compute the number of times the search destination was Barcelona by month
Barcelona = searches.groupby('index').apply(BCN)

In [18]:
Barcelona

index
01    29469
02    28329
03    30552
04    31236
05    28728
06    26505
07    29241
08    27075
09    23427
10    20276
11    19824
12    15400
dtype: int64

In [19]:
# Define a function to compute the number of times the search destination was Malaga
def MLG(x):
    Malaga = x[x.Destination == 'AGP']
    return len(Malaga.index)

In [20]:
# Compute the number of times the search destination was Malaga by month
Malaga = searches.groupby('index').apply(MLG)

In [21]:
Malaga

index
01     9633
02     8379
03    10659
04     8265
05    10830
06     7923
07     8892
08     7866
09     8151
10     6499
11     6384
12     3696
dtype: int64

In [22]:
# Create the dataframe with the number of times the search destination was Madrid, Barcelona or Malaga by month
df = pd.DataFrame.from_items([('Madrid',MADRID ), ('Barcelona', Barcelona), ('Malaga', Malaga)])

In [23]:
df

       Madrid  Barcelona  Malaga
index
01      24258      29469    9633
02      22800      28329    8379
03      24681      30552   10659
04      25251      31236    8265
05      26334      28728   10830
06      22800      26505    7923
07      22971      29241    8892
08      21831      27075    7866
09      21147      23427    8151
10      22294      20276    6499
11      20272      19824    6384
12      14504      15400    3696

In [24]:
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df.plot(x='Barcelona', y='Madrid', style='o')

In [27]:
plt.figure()

In [28]:
df.plot(x='Barcelona', y='Madrid', style='o')

In [ ]:
# Plot the monthly number of searches for flights arriving at MÃ¡laga, Madrid or Barcelona
df.plot()
plt.show()